<div class="page_wrapper">
  <h1 class="h1_title"><%= @competition.title %></h1>
  <div class="join_option">
    <%= link_to "JOIN", competition_memberships_path(@competition), :method=> :post, :class=> "join"%>
    <%= link_to "UPDATE", edit_competition_path(@competition), :class=> "update" %>
    <%= link_to "LEAVE", leave_membership_user_path(@current_user), :method=> :delete, :class=> "update" %>
    <%= link_to "REMOVE", competition_path, :method=> :delete, :class=> "update" %>

  </div>
  <h3>Description</h3>
  <p class="comp_info"><%= @competition.info %></p>
  <div class="member_box">
    <h3 class="member_title">Current Members</h3>
    <% @membership.each do |member| %>
      <% @user.where(id: member.user_id).each do |user| %>
        <div class="member_wrapper">
          <div class="member_user"><%= user.username%></div>
        <% end %>
      <% end %>
        </div>
  </div>


