<!DOCTYPE html>
<html>
  <head>
    <title>Compete</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site_wrapper">
      <nav class="nav_bar">
        <% if @current_user %>
          <%= link_to "#{@current_user.username}", user_path(@current_user), class: "nav_links" %>
          <%= link_to "Sign out", sessions_path, method: :delete, class: "nav_links" %>
        <% else %>
          <%= link_to "Sign up", new_user_path, class: "nav_links" %>
          <%= link_to "Login", new_sessions_path, class: "nav_links" %>
        <% end %>
        <%= link_to "Competitions", competitions_index_path, class: "nav_links" %>
      </nav>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
