<!DOCTYPE html>
<html>
  <head>
    <title>Compete</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site_wrapper">
      <nav class="nav_bar">
        <% if @current_user %>
          <%= link_to @current_user.username, user_path(@current_user) %>
          <%= link_to "Sign out", sessions_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_path %>
          <%= link_to "Login", new_sessions_path %>
        <% end %>
        <%= link_to "Competitions", competitions_index_path %>
      </nav>
        
    <%= yield %>
    </div>
  </body>
</html>
